@{
    ViewBag.Title = "Security Page";
}

<script>
    // Send ajax call
    $.ajax({
        url: '@Url.Action("GetUpdatedCountsAndList", "Home")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {

        },
        error: function () {
        }
    });
</script>

<div class="row">
    <div class="col-sm-4">
        <div class="white-box analytics-info">
            <h3 class="box-title">Online Users</h3>
            <ul class="list-inline two-part">
                <li>
                    <div class="sparklinedash1"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">@Html.Raw(HttpContext.Current.Session["TotalLoginUsers"].ToString())</span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="white-box analytics-info">
            <h3 class="box-title">Offline Users</h3>
            <ul class="list-inline two-part">
                <li>
                    <div class="sparklinedash2"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">@Html.Raw(HttpContext.Current.Session["TotalLogoutUsers"].ToString())</span></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="white-box analytics-info">
            <h3 class="box-title">Inactive Users</h3>
            <ul class="list-inline two-part">
                <li>
                    <div class="sparklinedash3"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">@Html.Raw(HttpContext.Current.Session["TotalInactive"].ToString())</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box" style="height:507px">
            <h4>Inactive Users</h4>

            <div class="table-responsive">
                <table class="table patient-table">
                    <thead>
                        <tr>
                            <th class="no-sort">#</th>
                            <th class="no-sort">Full Name</th>
                            <th class="no-sort">User Name</th>
                            <th class="no-sort">Email</th>
                            <th class="no-sort">Last Login</th>
                            <th class="no-sort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int k = 1;
                            foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["InactiveUserList"])
                            {
                                <tr>
                                    <td>@k</td>
                                    <td>@item.FullName</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.LastLogin</td>
                                    <td>@Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })</td>
                                </tr>
                                k++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Login Attempts line Chart</h3>
            <ul class="list-inline text-right">
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #00bfc7;"></i>Success</h5>
                </li>
                <li>
                    <h5><i class="fa fa-circle m-r-5" style="color: #9675ce;"></i>Fail</h5>
                </li>
            </ul>
            <div id="morris-area-chart"></div>

        </div>
    </div>
</div>

    @*<div class="row">
            <div class="col-sm-12">
                <div class="white-box" style="height:507px">
                    <h4>All Users</h4>

                    <div class="table-responsive">
                        <table class="table patient-table">
                            <thead>
                                <tr>
                                    <th class="no-sort">#</th>
                                    <th class="no-sort">Full Name</th>
                                    <th class="no-sort">User Name</th>
                                    <th class="no-sort">Email</th>
                                    <th class="no-sort">Last Login</th>
                                    <th class="no-sort">Ip Address</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int m = 1;
                                    foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["AllUserList"])
                                    {
                                        <tr>
                                            <td>@m</td>
                                            <td>@item.FullName</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.LastLogin</td>

                                            <td>@Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })</td>
                                        </tr>
                                        m++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box" style="height:507px">
                <h4>Recently Registered Users</h4>

                <div class="table-responsive">
                    <table class="table patient-table">
                        <thead>
                            <tr>
                                <th class="no-sort">#</th>
                                <th class="no-sort">Full Name</th>
                                <th class="no-sort">User Name</th>
                                <th class="no-sort">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int j = 1;
                                foreach (var item in (List<HospitalManagament.User>)HttpContext.Current.Session["RecetlyRegisteredUserList"])
                                {
                                    <tr>
                                        <td>@j</td>
                                        <td>@item.FullName</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                    </tr>
                                    j++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box" style="height:507px">
                <h4>Fail Login Attempts</h4>

                <div class="table-responsive">
                    <table class="table patient-table">
                        <thead>
                            <tr>
                                <th class="no-sort">#</th>
                                <th class="no-sort">Email</th>
                                <th class="no-sort">Password</th>
                                <th class="no-sort">Attempt Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int l = 1;
                                foreach (var item in (List<HospitalManagament.LoginAttempt>)HttpContext.Current.Session["FailLoginAttemptList"])
                                {
                                    <tr>
                                        <td>@l</td>
                                        <td>@item.Email</td>
                                        <td>@item.Password</td>
                                        <td>@item.AttemptDateTime</td>
                                    </tr>
                                    l++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @section Scripts
{
        <!-- Chart JS -->
        @*<script src="~/plugins/bower_components/Chart.js/chartjs.init.js"></script>*@
        <script src="~/plugins/bower_components/Chart.js/Chart.min.js"></script>

        <!-- jQuery peity -->
        <script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>

        <script>

            $('.sparklinedash1').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                type: 'bar',
                height: '30',
                barWidth: '4',
                resize: true,
                barSpacing: '5',
                barColor: '#00c292'
            });
            $('.sparklinedash2').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                type: 'bar',
                height: '30',
                barWidth: '4',
                resize: true,
                barSpacing: '5',
                barColor: '#ab8ce4'
            });
            $('.sparklinedash3').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                type: 'bar',
                height: '30',
                barWidth: '4',
                resize: true,
                barSpacing: '5',
                barColor: '#03a9f3'
            });

            $(document).ready(function () {
                $('.patient-table').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                    ],
                    pageLength: 5
                });
            });

            // Send ajax call
            $.ajax({
                url: '@Url.Action("CountLoginAttemptsPerMonthHollow", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    Morris.Area({
                        element: 'morris-area-chart',
                        data: data,
                        xkey: 'Month',
                        ykeys: ['SuccessAttempts', 'FailAttempts'],
                        labels: ['Success Attempts', 'Fail Attempts'],
                        pointSize: 3,
                        fillOpacity: 0,
                        pointStrokeColors: ['#00bfc7', '#9675ce'],
                        behaveLikeLine: true,
                        gridLineColor: '#e0e0e0',
                        lineWidth: 1,
                        hideHover: 'auto',
                        lineColors: ['#00bfc7', '#9675ce'],
                        resize: true,
                        parseTime: false

                    });
                },
                error: function () {
                    alert("Error");
                }
            });

        </script>
    }
